.footer {
    padding: 2rem 0;
    font-size: 1.4rem;
  }
  
  .footer a {
    color: black;
    text-decoration: none;
  }
  

  .example_d {
    color: white; /* Default color */
    text-decoration: none; /* Removes underline */
    transition: color 0.3s ease-in-out; /* Smooth transition */
  }
  
  .example_d:hover {
    color: pink !important; /* Changes text color to pink on hover */
  }
  